[submodule "cpp/3dparty/nngpp"]
	path = cpp/3dparty/nngpp
	url = https://github.com/cwzx/nngpp.git
[submodule "cpp/3dparty/loguru"]
	path = cpp/3dparty/loguru
	url = https://github.com/emilk/loguru.git
[submodule "cpp/3dparty/cxxopts"]
	path = cpp/3dparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
